@model BedAndDrinks.Models.Reserva

@{
    ViewData["Title"] = "Nueva Reserva";
}

<h2>Crear Nueva Reserva</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Fecha">Fecha</label>
        <input asp-for="Fecha" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="Estado">Estado</label>
        <input asp-for="Estado" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ObservacionesReserva">Observaciones</label>
        <textarea asp-for="ObservacionesReserva" class="form-control"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

